* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* Box Model */
}

:root {
    /*   color variables */
    --clr-primary: #d50000;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
    --clr-gray300: #a7b7be;
    --clr-gray400: #6b7e86;
    --clr-gray500: #425a65;
    /*   border radius */
    --radius: 0.2rem;
}

.card {
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--clr-gray200);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card__image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card__title {
    padding: 1rem;
}

.card__description {
    padding: 0 1rem;
}

.card__btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid var(--clr-primary);
    background: transparent;
    color: var(--clr-primary);
    border-radius: var(--radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover {
    transform: scale(1.02);
}

.card:hover .card__btn {
    background: var(--clr-primary);
    color: white;
}

.Search-section {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

input {
    width: 200px;
    display: flex;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    color: #111;
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    height: 58px;
    transform: skew(-3deg, 1deg);
    font-family: "Knewave", cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
}

button {
    height: 58px;
    font-size: 20px;
    transform: skew(-3deg, 1deg);
    font-family: "Knewave", cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid black;
    color: #111;
    padding: 10px;
}

.Cards-section {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}